## 19. Lists

+ List is a container type that is it contain some elements.

- Elements are ordered sequentially and are indexed.

- Lists are mutable that is we can add, remove and replace elements.

- Lists have unbounded growth.

- It is enclosed by square bracket

len()	 ----    length of list

max()	 ----    largest value

min()	 ----        smallest value

sum()	 ----        total

sorted() ----	         sort list

In [1]:
l = [10, 20, 30, 40, 50]

In [2]:
type(l)

list

In [3]:
l[0]

10

In [4]:
l[4]

50

- Python also supports negative indexes as well . But it takes from -1, since -0 doesn't exist .

In [5]:
l = [10, 20, 30, 40, 50]

In [6]:
l[-3]

30

In [7]:
l[-5]

10

- There is also a function in python called list, which will create a list . Let's see...

In [8]:
l = list()

In [9]:
l, type(l)

([], list)

- In list we can also change the elements

In [10]:
l = [10, 20, 30, 40, 50]

In [11]:
l[3] = 7.28
l

[10, 20, 30, 7.28, 50]

so here the 3rd index element is changed to 7.28 . This goes well with negative elements as well .

In [12]:
l[2] = -6.75
l

[10, 20, -6.75, 7.28, 50]

In [13]:
l[4] = 'Hello'
l

[10, 20, -6.75, 7.28, 'Hello']

---

## 20. Tuple

Tuples are very similar to list . Like they are also sequential and is a container type . 

But one main difference is that, Tuples are **immutable** that is 
- once a tuple is created, **we cannot add or remove elements** & **cannot replace elements** .

- So, tuples can be created using literals enclosing a round bracket . 

- But sometimes we don't often need the () instead we can use comma.

like t = (7, 4, 2)  {This is considered as a tuple}

and t = 7, 4, 2 {is also considered as a tuple as some specific places}

- Just like the list, tuples can also contain any object like,

(1, [true, false], (3, 4))

so here, true and false is the List 

and 3 and 4 are the tuples

and the whole is also a tuple